*{
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(97deg,rgba(16, 18, 20, 1) 0%, rgba(76, 178, 180, 1) 38%, rgba(110, 188, 202, 1) 58%);
}

.content{
    padding: 1rem;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
}

.content .name{
    margin-bottom: 0;
}


@media screen and (min-width: 992px){

    .content{
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
}

