
.normal{
    background-color:#a8a878;
}
.grass{
    background-color:#77c850;
}
.fire{
    background-color:#ee7f30;
}
.water{
    background-color:#678fee;
}
.electric{
    background-color:#f7cf2e;
}
.ice{
    background-color:#98d5d7;
}
.ground {
    background-color:#dfbf69;
}
.flying{
    background-color:#a98ff3;
}
.poison{
    background-color:#a040a0;
}
.fighting{
    background-color:#bf3029;
}
.psychic{
    background-color:#f65687;
}
.dark{
    background-color:#725847;
}
.rock{
    background-color:#b8a137;
}
.bug{
    background-color:#a8b720;
}
.ghost{
    background-color:#6e5896;
}
.steel{
    background-color:#b9b7cf;
}
.dragon{
    background-color:#6f38f6;
}
.fairy{
    background-color:#f9aec7;
}
.clicavel{
    cursor: pointer;
}

.title{
    font-weight: 600;
    font-size: 4rem;
}
.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
} 

.pokemon{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    color: white;
    margin: .5rem;
    padding: 2rem 1rem;

}  
.pokemon .name{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .25rem;
}
.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pokemon .number{
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pokemon .detail .types .type{
    color: white;
    padding: .25rem 1rem;
    font-size: 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    margin: .25rem 0;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: .25rem .5rem;
  font-size: 2rem;
  transition: 1s;

}

.pagination button:hover{
    background-color: #98d5d7;
}

.modal-background{
    position: fixed;
    margin: 0 ;
    bottom: 0;
    left: 0; 
    right: 0;
    border: none;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
}
.statistics{
    position: fixed;
    margin: auto 0 0 0;
    border: none;

    border-radius: 2rem 2rem 0 0;
    background-color: rgb(255, 255, 255);
    left: 0; 
    right: 0;
    min-width: 100vw;
    min-height: 100%;
}
.statistics:focus{
    border: none;
    outline: none;
}

.container-image{
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 1;

}

.pokemonImage{
    max-height: 300px;
    max-width:60%;
    object-fit: contain;
    display: flex;
    justify-self: center;
}

.close-modal{
    border: solid 2px white;
    background: rgba(61, 51, 33, 0.603);
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0 1rem 1rem;
    padding: .625rem;
    border-radius: 100px;
}

.name-modal{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2em;
    margin: 0 0 1rem 1rem;
    color: white;
}

.type-modal{
    text-align: center;
    display: inline-flex;
    margin-right: .5rem;
    min-width: 60px;
    border-radius: 20px;
    padding: .5rem;
    filter: brightness(1.1);
    font-size: 1rem;
    color: white;
}

.tab {

  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 992px){
    .pokemons{
    grid-template-columns: repeat(3, 1fr);
    }
    .close-modal{
        font-size: 2rem;
    }
    .name-modal{
        font-size: 3rem;     
    }
}
